@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

body {
  background-color: #1e1e1e;
  color: #ffffff;
}

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.diffBg {
  background-color: rgb(108, 108, 108);
}

.deleteBtn {
  cursor: pointer;
  background-color: rgb(212, 81, 172);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.deleteBtn:hover {
  background-color: rgb(169, 63, 138);
}

.createBtn {
  cursor: pointer;
  background-color: rgb(117, 213, 234);
  color: #1e1e1e;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.createBtn:hover {
  background-color: rgb(87, 161, 177);
}

/* typography */

html {
  font-family: "helvetica neue", sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt";
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  box-shadow: 0 0 1px rgb(255, 255, 255);
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.img {
  width: 70%;
  border-radius: 10px;
}

/* Column Size for thead */
thead .narrow {
  width: 130px;
}

td .narrow {
  width: 130px;
}

/* Column size for tbody */
tbody .narrow {
  width: 130px;
}

/* FORM */
form {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

form table {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

input,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #1e1e1e;
  background-color: #ececec;
}
