@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  font-size: 35px;
  color: rgb(36, 36, 36);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.diffBg {
  background-color: rgb(255, 192, 230);
}

.deleteBtn {
  background-color: rgb(212, 81, 172);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.createBtn {
  background-color: rgb(119, 78, 193);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

/* typography */

html {
  font-family: "helvetica neue", sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt";
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.img {
  width: 70%;
  border-radius: 10px;
}

/* Column Size for thead */
thead .narrow {
  width: 130px;
}

td .narrow {
  width: 130px;
}

/* Column size for tbody */
tbody .narrow {
  width: 130px;
}

/* FORM */
form {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

form table {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

input,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(212, 81, 172);
}
